@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "sass:meta";

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29")
);

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return color.mix(black, $color, $weight);
}

// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return color.mix(white, $color, $weight);
}

@function add($value1, $value2, $return-calc: true) {
  @if $value1 == null {
    @return $value2;
  }

  @if $value2 == null {
    @return $value1;
  }

  @if meta.type-of($value1) ==
    number and
    meta.type-of($value2) ==
    number and
    math.compatible($value1, $value2)
  {
    @return $value1 + $value2;
  }

  @if $return-calc == true {
    @return calc(#{$value1} + #{$value2});
  } @else {
    @return $value1 + string.unquote(" + ") + $value2;
  }
}

// Source: https://css-tricks.com/snippets/sass/px-to-em-functions/
@function rem($pixels, $context: 16) {
  @return (math.div($pixels, $context)) * 1rem;
}

@function em($pixels, $context) {
  @return (math.div($pixels, $context)) * 1em;
}

@function letter-spacing($pxAV, $fontSize) {
  @return em($pxAV, $fontSize);
}

@function str-replace($string, $search, $replace: "") {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(
        string.slice($string, $index + string.length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@function escape-svg($string) {
  @if string.index($string, "data:image/svg+xml") {
    @each $char, $encoded in $escaped-characters {
      // Do not escape the url brackets
      @if string.index($string, "url(") == 1 {
        $string: url("#{str-replace(string.slice($string, 6, -3), $char, $encoded)}");
      } @else {
        $string: str-replace($string, $char, $encoded);
      }
    }
  }

  @return $string;
}

// Colors
@function to-rgb($value) {
  @return color.channel($value, "red", $space: rgb),
    color.channel($value, "green", $space: rgb),
    color.channel($value, "blue", $space: rgb);
}
