@use "sass:color";
@use "sass:meta";
@use "_variables.scss" as *;
@use "_mixins.scss" as *;

:root {
  @each $color, $value in $grays {
    --gray-#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  --white: #{$white};
  --black: #{$black};

  --white-rgb: #{to-rgb($white)};
  --black-rgb: #{to-rgb($black)};

  --body-color: #{$body-color};
  --body-bg: #{$body-bg};
  --text-muted: #{$gray-600};

  // Fonts

  // Note: Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-sans-serif: #{meta.inspect($font-family-sans-serif)};
  // --font-monospace: #{meta.inspect($font-family-monospace)};
  // --gradient: #{$gradient};

  // Root and body
  // scss-docs-start root-body-variables
  @if $font-size-root != null {
    --root-font-size: #{$font-size-root};
  }
  --body-font-family: #{meta.inspect($font-family-base)};
  @include rfs($font-size-base, --body-font-size);
  --body-font-weight: #{$font-weight-base};
  --body-line-height: #{$line-height-base};
  --headings-font-family: #{meta.inspect($headings-font-family)};

  --border-width: #{$border-width};
  --border-style: #{$border-style};
  --border-color: #{$border-color};
  --border-color-translucent: #{$border-color-translucent};

  --border-radius: #{$border-radius};
  --border-radius-sm: #{$border-radius-sm};
  --border-radius-lg: #{$border-radius-lg};
  --border-radius-xl: #{$border-radius-xl};
  --border-radius-xxl: #{$border-radius-xxl};

  --btn-primary-border-color: #{$swamp};
  --btn-primary-hover-border-color: #{shade-color($deep_cerulean, 15%)};

  --form-valid-color: #{$form-valid-color};
  --form-valid-border-color: #{$form-valid-border-color};
  --form-invalid-color: #{$form-invalid-color};
  --form-invalid-border-color: #{$form-invalid-border-color};
}
