@use "sass:color";
@use "sass:map";
@use "sass:math";
@use "_functions.scss" as *;

//
// Variables
//

// Color system

// Base colors
$white: #fff;
$black: #252525;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-600: #6c757d;
$gray-800: #343a40;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  600: $gray-600,
  800: $gray-800,
);

$red: #ce3d3a;
$cyan: #0dcaf0;

// Brand colors
$emporor: #555555;
$deep_cerulean: #006db0;
$swamp: #000e16;
$azure_radiance: #009eff;
$silver_sand: #bbbdbf;
$cerulean: #0ab1c7;
$old-lace: #fbf5e9;

// Theme colors
$primary: $deep_cerulean;
$secondary: $emporor;
$tertiary: $emporor;
$success: #28a745;
$info: $cerulean;
$warning: #ffc914;
$danger: #ed2d38;
$light: #fff;
$dark: $swamp;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$colors: (
  // Brand colors
  "emporor": $emporor,
  "deep-cerulean": $deep_cerulean,
  "swamp": $swamp,
  "azure-radiance": $azure_radiance,
  "silver-sand": $silver_sand,
  "cerulean": $cerulean,
  "old-lace": $old-lace
);

// Options
$enable-smooth-scroll: true;
$enable-rounded: true;
$enable-button-pointers: true;
$enable-validation-icons: true;

// Body
//
// Settings for the `<body>` element
$body-bg: $white;
$body-color: $swamp;
$body-secondary-color: rgba($body-color, 0.75);
$body-secondary-bg: $gray-200;

$body-tertiary-color: rgba($body-color, 0.5);
$body-tertiary-bg: $gray-100;

$body-emphasis-color: $black;

// Links
//
// Style anchor elements
$link-color: $azure_radiance;
$link-decoration: underline;
$link-hover-color: $cerulean;
$link-hover-decoration: none;

// Components
//
// Define common padding and border radius sizes and more
$component-active-color: $white;
$component-active-bg: $primary;
$focus-ring-width: 0.25rem;
$focus-ring-opacity: 0.25;
$focus-ring-color: rgba($primary, $focus-ring-opacity);
$focus-ring-blur: 0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

// Spacing
//
// Control the default styling of most elements by modifying these variables
$spacer: 1rem;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// $font-size-root affects the value of `rem`, which is used for font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null; // Uses browser default, typically 16px
$font-size-base: 1rem; // Assumes the browser default, typically `16px`

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;

$font-family-sans-serif: "Roboto", Arial, sans-serif;
$font-family-serif: "Cormorant Garamond", "Garamond", serif;
$font-family-base: $font-family-sans-serif;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-size-sm: 0.875rem; // 14px
$font-size-lg: $font-size-base * 1.25;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$headings-font-family: $font-family-serif;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-margin-bottom: $spacer * 0.5;

// Misc typography and utilities
$small-font-size: $font-size-sm;
$sub-sup-font-size: 0.75em;
$mark-padding: 0.1875em;
$mark-bg: #fcf8e3;
$dt-font-weight: $font-weight-bold;
$nested-kbd-font-weight: $font-weight-bold;
$list-inline-padding: 0.5rem;

$hr-margin-y: $spacer;
$hr-color: null;
$hr-border-width: 1px;
$hr-border-color: $azure_radiance;

// Sizes
$max-width: 1300px;

$border-width: rem(2);
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);
$border-style: solid;
$border-color: $gray-400;
$border-color-translucent: rgba($black, 0.175);

// Border radius
$border-radius: rem(2); // 0.125rem (2px)
$border-radius-sm: rem(1); // 0.0625rem (1px)
$border-radius-lg: rem(4); // 0.25rem (4px)
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

// Tables
$table-cell-padding-y: 0.5rem;
$table-cell-padding-x: 0.5rem;
$table-cell-padding-y-sm: 0.25rem;
$table-cell-padding-x-sm: 0.25rem;

$table-cell-vertical-align: top;

$table-color: var(--emphasis-color);
$table-bg: var(--body-bg);
$table-accent-bg: transparent;

$table-th-font-weight: null;

$table-striped-color: $table-color;
$table-striped-bg-factor: 0.05;
$table-striped-bg: rgba(var(--emphasis-color-rgb), $table-striped-bg-factor);

$table-active-color: $table-color;
$table-active-bg-factor: 0.1;
$table-active-bg: rgba(var(--emphasis-color-rgb), $table-active-bg-factor);

$table-hover-color: $table-color;
$table-hover-bg-factor: 0.075;
$table-hover-bg: rgba(var(--emphasis-color-rgb), $table-hover-bg-factor);

$table-border-factor: 0.2;
$table-border-width: var(--border-width);
$table-border-color: var(--border-color);

$table-striped-order: odd;
$table-striped-columns-order: even;

$table-group-separator-color: currentcolor;

$table-caption-color: var(--secondary-color);

$table-bg-scale: -80%;

// Forms & Buttons
//
// Shared variables for forms and buttons
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 0.75rem;
$input-btn-font-family: $font-family-base;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;
$input-btn-focus-width: 0.2rem;
$input-btn-focus-color: rgba($primary, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-border-width: 1px;

// Buttons
$btn-transition: color 0.5s ease, background-color 0.5s ease,
  border-color 0.5s ease, box-shadow 0.5s ease;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: 0.65;
$btn-font-weight: $font-weight-normal;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075);
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: 0.65;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125);
$btn-border-radius: var(--border-radius);
$btn-border-radius-sm: var(--border-radius-sm);
$btn-border-radius-lg: var(--border-radius-lg);

// Navbar
$nav-link-padding-y: 1.25rem; // 20px
$navbar-padding-y: 0;

// Forms
$form-text-margin-top: 0.25rem;
$form-text-font-size: $small-font-size;
$input-transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
$box-shadow-inset: inset 0 1px 2px rgba($primary, 0.075);
$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-font-family: $input-btn-font-family;
$input-font-size: $input-btn-font-size;
$input-font-weight: $font-weight-base;
$input-line-height: $input-btn-line-height;
$input-btn-focus-width: $focus-ring-width;
$input-btn-focus-color-opacity: $focus-ring-opacity;
$input-btn-focus-color: $focus-ring-color;
$input-btn-focus-blur: $focus-ring-blur;
$input-btn-focus-box-shadow: $focus-ring-box-shadow;
$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-font-size-sm: $input-btn-font-size-sm;

$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;
$input-bg: var(--body-bg, #{$body-bg});
$input-disabled-bg: var(--secondary-bg, #{$body-secondary-bg});

$input-color: var(--body-color, $body-color);
$input-border-color: var(--border-color, $border-color);
$input-border-width: $input-btn-border-width;
$input-box-shadow: var(--box-shadow-inset, $box-shadow-inset);
$input-focus-bg: $input-bg;
$input-focus-border-color: tint-color($component-active-bg, 50%);
$input-focus-color: $input-color;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: $input-btn-focus-box-shadow;
$input-placeholder-color: var(--placeholder-color, $body-secondary-color);
$input-border-radius: var(--border-radius, $border-radius);
$input-border-radius-sm: var(--border-radius-sm, $border-radius-sm);
$input-border-radius-lg: var(--border-radius-lg, $border-radius-lg);
$input-height-border: calc(#{$input-border-width} * 2);
$input-height-inner: add($input-line-height * 1em, $input-padding-y * 2);
$input-height-inner-half: add($input-line-height * 0.5em, $input-padding-y);
$input-height-inner-quarter: add(
  $input-line-height * 0.25em,
  $input-padding-y * 0.5
);

$input-height: add(
  $input-line-height * 1em,
  add($input-padding-y * 2, $input-height-border, false)
);
$input-height-sm: add(
  $input-line-height * 1em,
  add($input-padding-y-sm * 2, $input-height-border, false)
);
$input-height-lg: add(
  $input-line-height * 1em,
  add($input-padding-y-lg * 2, $input-height-border, false)
);
$form-feedback-margin-top: 0.25rem;
$form-label-margin-bottom: 0.5rem;

$form-file-button-color: $input-color;
$form-file-button-bg: var(--tertiary-bg, $body-tertiary-bg);
$form-file-button-hover-bg: var(--secondary-bg, $body-secondary-bg);

$form-select-padding-y: $input-padding-y;
$form-select-padding-x: $input-padding-x;
$form-select-font-family: $input-font-family;
$form-select-font-size: $input-font-size;
$form-select-indicator-padding: $form-select-padding-x * 3; // Extra padding for background-image
$form-select-font-weight: $input-font-weight;
$form-select-line-height: $input-line-height;
$form-select-color: $input-color;
$form-select-bg: $input-bg;
$form-select-disabled-color: null;
$form-select-disabled-bg: $input-disabled-bg;
$form-select-bg-position: right $form-select-padding-x center;
$form-select-bg-size: 16px 12px;

$form-select-indicator-color: $gray-800;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");

$form-select-feedback-icon-padding-end: $form-select-padding-x * 2.5 +
  $form-select-indicator-padding;
$form-select-feedback-icon-position: center right $form-select-indicator-padding;
$form-select-feedback-icon-size: $input-height-inner-half
  $input-height-inner-half;

$form-select-focus-border-color: $input-focus-border-color;
$form-select-focus-width: $input-focus-width;
$form-select-focus-box-shadow: 0 0 0 $form-select-focus-width
  $input-btn-focus-color;

$form-select-padding-y-sm: $input-padding-y-sm;
$form-select-padding-x-sm: $input-padding-x-sm;
$form-select-font-size-sm: $input-font-size-sm;
$form-select-border-radius-sm: $input-border-radius-sm;

$form-select-padding-y-lg: $input-padding-y-lg;
$form-select-padding-x-lg: $input-padding-x-lg;
$form-select-font-size-lg: $input-font-size-lg;
$form-select-border-radius-lg: $input-border-radius-lg;

$form-select-border-width: $input-border-width;
$form-select-border-color: $input-border-color;
$form-select-border-radius: $input-border-radius;
$form-select-box-shadow: var(--box-shadow-inset);
$form-select-transition: $input-transition;

$form-color-width: 3rem;

$form-check-input-width: 1em;
$form-check-min-height: $font-size-base * $line-height-base;
$form-check-padding-start: $form-check-input-width + 0.5em;
$form-check-margin-bottom: 0.125rem;
$form-check-label-color: null;
$form-check-label-cursor: null;
$form-check-transition: null;

$form-check-input-active-filter: brightness(90%);

$form-check-input-bg: $input-bg;
$form-check-input-border: var(--border-width) solid var(--border-color);
$form-check-input-border-radius: 0.25em;
$form-check-radio-border-radius: 50%;
$form-check-input-focus-border: $input-focus-border-color;
$form-check-input-focus-box-shadow: $focus-ring-box-shadow;

$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-color: $component-active-bg;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");

$form-check-input-indeterminate-color: $component-active-color;
$form-check-input-indeterminate-bg-color: $component-active-bg;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color;
$form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");

$form-check-input-disabled-opacity: 0.5;
$form-check-label-disabled-opacity: $form-check-input-disabled-opacity;
$form-check-btn-check-disabled-opacity: $btn-disabled-opacity;

$form-check-inline-margin-end: 1rem;

$form-feedback-margin-top: $form-text-margin-top;
$form-feedback-font-size: $form-text-font-size;
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;

$form-feedback-icon-valid-color: $form-feedback-valid-color;
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1'/></svg>");
$form-feedback-icon-invalid-color: $form-feedback-invalid-color;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");
// scss-docs-end form-feedback-variables

// scss-docs-start form-validation-colors
$form-valid-color: $form-feedback-valid-color;
$form-valid-border-color: $form-feedback-valid-color;
$form-invalid-color: $form-feedback-invalid-color;
$form-invalid-border-color: $form-feedback-invalid-color;
// scss-docs-end form-validation-colors

// scss-docs-start form-validation-states
$form-validation-states: (
  "valid": (
    "color": var(--form-valid-color),
    "icon": $form-feedback-icon-valid,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--success),
    "focus-box-shadow": 0 0 $input-btn-focus-blur $input-focus-width
      rgba(var(--success-rgb), $input-btn-focus-color-opacity),
    "border-color": var(--form-valid-border-color),
  ),
  "invalid": (
    "color": var(--form-invalid-color),
    "icon": $form-feedback-icon-invalid,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--danger),
    "focus-box-shadow": 0 0 $input-btn-focus-blur $input-focus-width
      rgba(var(--danger-rgb), $input-btn-focus-color-opacity),
    "border-color": var(--form-invalid-border-color),
  ),
);

$tooltip-font-size: $font-size-sm;
$tooltip-max-width: 200px;
$tooltip-color: var(--body-bg);
$tooltip-bg: var(--emphasis-color);
$tooltip-border-radius: var(--border-radius);
$tooltip-opacity: 0.9;
$tooltip-padding-y: $spacer * 0.25;
$tooltip-padding-x: $spacer * 0.5;
$tooltip-margin: null; // TODO: remove this in v6

$tooltip-arrow-width: 0.8rem;
$tooltip-arrow-height: 0.4rem;
// fusv-disable
$tooltip-arrow-color: null; // Deprecated in Bootstrap 5.2.0 for CSS variables
// fusv-enable
// scss-docs-end tooltip-variables

// Form tooltips must come after regular tooltips
// scss-docs-start tooltip-feedback-variables
$form-feedback-tooltip-padding-y: $tooltip-padding-y;
$form-feedback-tooltip-padding-x: $tooltip-padding-x;
$form-feedback-tooltip-font-size: $tooltip-font-size;
$form-feedback-tooltip-line-height: null;
$form-feedback-tooltip-opacity: $tooltip-opacity;
$form-feedback-tooltip-border-radius: $tooltip-border-radius;

// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y: 0.375rem;
$pagination-padding-x: 0.75rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x-lg: 1.5rem;

$pagination-font-size: $font-size-base;

$pagination-color: var(--link-color);
$pagination-bg: var(--body-bg);
$pagination-border-radius: var(--border-radius);
$pagination-border-width: var(--border-width);
$pagination-margin-start: calc(
  -1 * #{$pagination-border-width}
); // stylelint-disable-line function-disallowed-list
$pagination-border-color: var(--border-color);

$pagination-focus-color: var(--link-hover-color);
$pagination-focus-bg: var(--secondary-bg);
$pagination-focus-box-shadow: $focus-ring-box-shadow;
$pagination-focus-outline: 0;

$pagination-hover-color: var(--link-hover-color);
$pagination-hover-bg: var(--tertiary-bg);
$pagination-hover-border-color: var(--border-color); // Todo in v6: remove this?

$pagination-active-color: $component-active-color;
$pagination-active-bg: $component-active-bg;
$pagination-active-border-color: $component-active-bg;

$pagination-disabled-color: var(--secondary-color);
$pagination-disabled-bg: var(--secondary-bg);
$pagination-disabled-border-color: var(--border-color);

$pagination-transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

$pagination-border-radius-sm: var(--border-radius-sm);
$pagination-border-radius-lg: var(--border-radius-lg);
// scss-docs-end pagination-variables

// Code & Pre
$font-family-code: $font-family-sans-serif;
$code-font-size: $font-size-sm;
$pre-color: null;

// Tables
$table-cell-padding-y: 0.5rem;
$table-cell-padding-x: 0.5rem;
$table-caption-color: $gray-600;
$table-th-font-weight: null;

// Keyboard
$kbd-padding-y: 0.2rem;
$kbd-padding-x: 0.4rem;
$kbd-font-size: $font-size-sm;
$kbd-color: $white;
$kbd-bg: $gray-600;

// Transitions
$transition-collapse: height 0.35s ease;
$transition-collapse-width: width 0.35s ease;

// Additional variables
$hr-opacity: 0.25;
$font-size-root: null;
$legend-margin-bottom: 0.5rem;
$legend-font-size: 1.5rem;
